#home, #header, #contact {
    color: white;
}
#home .btn {
    padding: 0rem 0rem;
    font-weight: 500;
    /* border-width: 2px; */
    transition: all 0.5s ease;
    color: white;
}
#contact .social-icons li i {
    color: whitesmoke;
}
.mainTitle {
    font-size: 1.4em;
}